{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participant Privacy Notice</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/beast-logo.png' %}" type="image/png">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh;
            background: url('{% static 'images/background.png' %}') no-repeat center center fixed;
            background-size: cover;
            color: white;
        }

        .header-logo {
            width: 200px;
            margin: 20px 0;
        }

        .header-logo img {
            width: 100%;
            height: auto;
        }

        .container {
            margin-bottom: 60px;
            max-width: 800px;
            width: 90%;
            text-align: left;
            padding: 20px;
            background-color: #000;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            color: #fff;
            margin-bottom: 20px;
        }

        p, ul {
            margin-bottom: 20px;
            line-height: 1.6;
        }

        ul {
            padding-left: 20px;
        }

        ul li {
            margin-bottom: 10px;
        }

        footer {
            background-color: #000;
            width: 100%;
            padding: 20px;
            color: white;
            text-align: center;
            margin-top: auto;
            border-top-left-radius: 50% 20px;
            border-top-right-radius: 50% 20px;
        }

        footer img {
            width: 150px;
            margin-bottom: 20px;
        }

        footer a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
            font-size: 14px;
        }

        footer a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="header-logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/image002.png' %}" alt="Beast Games Logo">
        </a>
    </div>

    <div class="container">
        <h1>Participant Privacy Notice</h1>
        <h2>1. WHAT IS THE PURPOSE AND SCOPE OF THIS DOCUMENT?</h2>
        <p>This Participant Privacy Notice (“Notice”) describes how we collect, use and disclose the personal information (as described in section 3 below) of participants in our certain MrB2024, LLC productions and events (collectively, the “Productions”).</p>
        <p>In this Notice, we will use the terms “MrB”, “we”, “us” and “our” to refer to the MrB2024, LLC brand that is producing the show or other content that you may appear in.</p>
        <p>It is important that you read this Notice, together with any other terms, releases and notices that we may provide on specific occasions when we are collecting or processing personal information about you, so that you are aware of how and why we are using such information. If there are third parties involved in the Production who have collected your personal information directly from you, they may use your information in accordance with their own privacy and cookie notices, which you should also read.</p>
        <p>We may update this Notice at any time, for example to reflect changes in our processing activities, or to meet new legal requirements.</p>
        <p>This Notice does not form part of any contract with you.</p>

        <h2>2. HOW DO WE COLLECT YOUR PERSONAL INFORMATION?</h2>
        <p>We collect information about you through our casting process and through your participation in the Production and related activities, either directly from you or from your representative, or from third parties authorized by you or from other research.</p>

        <h2>3. WHAT INFORMATION DO WE COLLECT, AND WHY?</h2>
        <p>Please see below for the kinds of information we may hold about you and the purposes for which we use them. The information and usage described within the Notice may be supplemented via agreements with you.</p>
        <ul>
            <li>Name and contact information, such as address, telephone numbers and email addresses, of you and of other individuals whose details you have provided to us (such as your beneficiaries, emergency contacts, friends and family), so we and our partners can communicate with you or them, including to comply with laws.</li>
            <li>Other information provided by you and others as part of the casting and production process, which (depending on the Production and as permitted by law) may include your experiences, background information (e.g., hometown, occupation), personal characteristics (e.g., date of birth, interests), photos or videos, social media handle(s), and information about your family, friends and partners. We may use this information to help us learn your story as we cast, produce and promote our Production and related marketing and advertising content.</li>
            <li>Visual and sound recordings made in connection with the Production.</li>
            <li>Background check information. For some Productions, we engage background check providers to perform background checks on our participants, with their consent. We do this in order to protect the health and safety of other people involved in the Production, to verify the information provided by the participants and for reputational reasons, and this information is shared with us for this purpose.</li>
            <li>Financial information (if applicable), such as bank account details if required for direct deposit, tax identifier and tax information.</li>
            <li>Medical and/or psychological assessment information (if applicable). For some Productions, we engage medical and psychological professionals to perform medical and/or psychological assessments of our participants, with their consent. We do this in order to protect the health and safety of our participants and that of other people involved in the Production, and this information is shared with us for this purpose.</li>
            <li>Health information that you provide to us, including information about your physical or mental health or disability status. We may collect and use this to protect your health and safety and that of other people involved in the Production, to assess your fitness to participate, provide certain accommodations, ensure that the Production is appropriately insured, comply with (or exercise rights under) legal or contractual obligations, and (with your permission) to tell your story as part of the Production. For example, we may collect COVID-19 related information to support our workplace health and safety protocols and comply with legal obligations.</li>
            <li>Union/Guild membership information (if applicable), so we can comply with (or exercise rights under) collective bargaining agreements and other legal requirements.</li>
            <li>Demographic information (if applicable), such as gender, gender identity, racial or ethnic origin, sexual orientation, so we can ensure meaningful equal opportunity and diversity and inclusion monitoring and reporting, comply with legal requirements, and if required for casting purposes.</li>
            <li>In addition, we may use the above personal information to comply with the law, to seek legal advice from outside counsel or in connection with litigation with a third party, and to ensure compliance with policies, guidelines and contracts.</li>
        </ul>

        <h2>4. WHO IS YOUR PERSONAL INFORMATION DISCLOSED TO?</h2>
        <p>We will share your personal information with people within MrB in order to carry out the purposes described in this Notice. These may include people within functions such as production operations, development, labor, physical production, programming and marketing, ad sales, legal and production finance. We put in place controls to restrict access to your more sensitive information (e.g. health, psychological and financial information, if any) to appropriate personnel.</p>
        <p>We may share relevant personal information with the following categories of recipients, if applicable:</p>
        <ul>
            <li>Service Providers: including transport and security providers, medical professionals, background check providers and other production service providers, so that they can provide the relevant services needed on a specific Production.</li>
            <li>Other production staff or companies involved with the Production: We may share information with other production staff or companies in order to develop and produce the Production.</li>
            <li>Distribution, Publicity, Advertising and Marketing partners: We may share aspects of your story with potential and existing distribution, publicity, advertising and marketing partners in order to distribute and promote the Production and related advertising and marketing content.</li>
            <li>Viewers: Your personal information that is included in the Production and related promotional and digital materials will be seen by viewers.</li>
            <li>Other disclosures: Generally, MrB shares personal information other than as described above as follows:
                <ul>
                    <li>when required to do so by law, regulation, or court order.</li>
                    <li>in response to a legitimate request for assistance by a law enforcement agency; and to seek legal advice from MrB external lawyers or in connection with litigation with a third party.</li>
                </ul>
            </li>
        </ul>

        <h2>5. HOW WE PROTECT YOUR PERSONAL INFORMATION</h2>
        <p>We maintain organizational, technical, and physical safeguards to help protect the information we collect and use. These safeguards vary depending upon a variety of factors including the sensitivity of the information we collect and use. Despite all reasonable practices, no security method is infallible.</p>

        <h2>6. EXERCISING YOUR RIGHTS</h2>
        <p>If you are a California resident, you have the right to make certain requests regarding your personal information, or your authorized agent can make such requests on your behalf. You have the right not to be discriminated against for exercising your rights. You may:</p>
        <ul>
            <li>request access to specific personal information. This enables you to be notified of the categories of personal information we collected about you and the reason we collected such information, and to have access to the specific personal information we hold about you. Please note that there are exemptions to this right, such as where the data was generated to help ensure security or integrity, or is subject to legal privilege, or is publicly available.</li>
            <li>request correction of the personal information that we hold about you. This enables you to ask us to correct incomplete or inaccurate information we hold about you.</li>
            <li>request deletion of your personal information. This enables you to ask us to delete or remove personal information from our records, subject to certain exceptions. We may deny your deletion request in some circumstances. For example, we may retain your personal information if we need to use it to fulfil our obligations as your employer, meet legal requirements, fulfill reasonable internal purposes, or detect security incidents.</li>
        </ul>
        <p>California law places certain obligations on businesses that “sell” personal information to third parties or “share” personal information with third parties for cross-context behavioral advertising. We do not “sell” or “share” the personal information covered by this notice and have not done so in the twelve months prior to the effective date of this notice.</p>
        <p>If you would like to make one of the above requests, please write to: MrB2024, LLC c/o Weinstein Senior LLP, 1901 Avenue of the Stars, 2nd Floor, Los Angeles, CA 90067, USA.</p>
        <p>We will take reasonable steps to verify your identity (and, if applicable, your agent’s authorization) before responding to a request. In doing so, we may ask you for verification information so that we can match at least two verification points with information we maintain in our files about you. If we are unable to verify you through this method, we shall have the right, but not the obligation, to request additional information from you. If we are not able to verify your identity, we may deny your request.</p>

        <h2>7. RETAINING YOUR PERSONAL INFORMATION</h2>
        <p>We will keep your personal information for as long as is necessary to fulfil the purposes we collected it for, including for the purpose of satisfying legal, accounting and reporting requirements. To determine the appropriate retention period for participant personal information, we consider the amount, nature and sensitivity of the information, the potential risk of harm from unauthorized use or disclosure of the personal information, the purposes for which we process the personal information and whether we can achieve those purposes in other ways, the applicable legal requirements and our legitimate interests. For example, we will keep certain information about former participants (e.g., name, role in production) for as long as necessary for our legitimate interests in keeping this information as part of our production records and to comply with any applicable legal obligations.</p>

        <h2>Contact Details:</h2>
        <p>If you have questions or concerns about how we have used your personal information, please write to: MrB2024, LLC c/o Weinstein Senior LLP, 1901 Avenue of the Stars, 2nd Floor, Los Angeles, CA 90067, USA.</p>
    </div>

    <footer>
        <img src="{% static 'images/beast-logo.png' %}" alt="Beast Logo">
        <div>
            <p> Beast Games from MrBeast®</p>
            <div>
                <a href="{% url 'data_protection_policy' %}">Data Protection Policy</a>
                <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                <a href="{% url 'cookie_policy' %}">Cookie Policy</a>
                <a href="{% url 'participant_privacy_notice' %}">MrBeast Privacy Policy</a>
            </div>
            <p>© 2025</p>
        </div>
    </footer>
</body>
</html>
